
.md-background--secondary {
    background: #4CAF50 !important;
    
}

.md-grid{


    padding: 0px !important;

}


.md-cell {
 
    margin: 0px !important;
}
#button-menu{


        margin: 10px 10px 10px 70px !important;
}

.md-btn--text {

color:white !important;
}
