#dialSearchResultTemplate
{
  .md-dialog-footer--inline{
    padding: 8px;
    margin-top: 2%;
    margin-right: 44%;
}
 .md-btn{
        background: #1eaaf1 !important
  }
}
#divSearchResult .md-dialog-footer--card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
.md-dialog-footer--card-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
 .md-dialog-container.md-overlay {
  transition-duration: 0.3s;
  z-index: 20; }
 .md-dialog {
  width: 35% !important;
  -webkit-max-logical-height: inherit;
  overflow: overlay;
  position: fixed;
  height:auto !important }
.md-dialog--centered {
  left: 50%;
  max-height: calc(100% - 48px);
  max-width: calc(100% - 80px);
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }
  .md-dialog--centered .md-list {
    padding-bottom: 8px;
    padding-top: 0; }
  .md-dialog--centered .md-list-tile {
    height: auto;
    padding: 16px 24px; }
  .md-dialog--centered .md-tile-text--primary {
    white-space: normal; }
.md-dialog--centered-enter {
  -webkit-transform: translate3d(-50%, calc(-50% + -30px), 0);
          transform: translate3d(-50%, calc(-50% + -30px), 0); }
  .md-dialog--centered-enter.md-dialog--centered-enter-active {
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    transition-duration: 0.3s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform; }
.md-dialog--centered-leave {
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }
  .md-dialog--centered-leave.md-dialog--centered-leave-active {
    -webkit-transform: translate3d(-50%, calc(-50% + -30px), 0);
            transform: translate3d(-50%, calc(-50% + -30px), 0);
    transition-duration: 0.3s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    }
.md-title--dialog {
  margin-bottom: 0;
  padding: 24px;
  padding-bottom: 20px;
  white-space: normal;
   }
.md-dialog-content {
  overflow: auto; }
.md-dialog-content--padded {
  padding: 24px; }
  .md-dialog-content--padded:not(:first-child) {
    padding-top: 0; }
.md-dialog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.md-dialog-footer--inline {
  padding: 8px; }
  .md-dialog-footer--inline .md-btn--dialog + .md-btn--dialog {
    margin-left: 8px; }
.md-dialog-footer--stacked {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 8px;
  padding-right: 8px; }
  .md-dialog-footer--stacked .md-btn--dialog {
    margin-bottom: 6px;
    margin-top: 6px; }
.md-btn--dialog {
  height: 36px;
  min-width: 64px;
  padding-left: 8px;
  padding-right: 8px; }
.md-btn--text {
  color: white !important}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
ul {
  margin: 12px 0; }
.md-subheading-1
{
  height: 0px;
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 13px !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 0px;
}
.md-selection-control-group
{
padding:0px !important;
}
.md-selection-control-group .md-text
{
margin-top:10% !important;
}
#searchResultTemplate
{
.md-icon{
 margin-top: 70%;
}
}
.searchResultDocTitle{
    margin-left:10%;
    margin-top: 3%;
    font-weight: bold;
}
.searchResults{
    font-size: 18px;
    font-weight: bold;
    margin-left: 13%;
    margin-top: 2% ;
    padding: 0px !important;
}
.backToSearchResults{
    font-weight: bold;
    margin-left: 13%;
    margin-top: 2% ;
    font-size:12px !important;
    padding: 0px !important;
    a {color:#03A9F4 !important;}
}
a {text-decoration: none}
.displayNone{
  display: none;
}
.searchResultControls{
    margin-left: 8%;
}
#divSearchResultTemplate {
div {
    font-family: "Roboto", sans-serif;}
.md-fake-btn{
 background: transparent !important;
 height: 60px;
 padding-bottom: 0px;
 padding-top: 8px;
 }
.md-tile-text--primary .md-text{
width:200px !important;
}
.md-list-item{
padding-top: 15%;
}
.margin-bottom{
  margin-bottom: 3%;
  background: rgb(245, 245, 245) !important;
  width:375px !important;
  padding:2% !important;
}
.protocolTitle{
  font-weight: bold;
  font-size: 13px !important;
}
.protocolDetail{
  margin-top: 2% !important;
  font-size: 13px !important;
}
.protocolLabel{
  color: #000000;
}
.protocolNumber{
  color: grey !important;
}
.divCompoundNum{
  padding-top: 2%;
  font-size: 12px !important;
}
.compoundLabel{
  color: #000000;
}
.compoundNumber{
  color: grey !important;
}
.developmentPhase{
  font-size: 12px;
  color: #000000;
}
.IndicationDetail{
  font-weight: bold;
  font-size: 13px;
  margin-top: 2% !important;
  color: #000000;
  
}
.startDate{
  color: #000000;
}
.dateVal{
  color: grey !important;
}
.endDate{
  margin-left: 32%;
  color: #000000;
}
.date{
  margin-top: 2% !important;
  font-size: 12px;
  
}
.previewClass{
  margin-top: 10% !important;
  text-align: center;
  a {color:#03A9F4 !important;}
}
}